<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<footer id="footer" class="footer" th:fragment="footer">

	<div class="container footer-top">
		<div class="row gy-4">
			<div class="col-lg-4 col-md-6 footer-about">
				<a th:href="@{/}" class="d-flex align-items-center">
					<span class="sitename">HJH's Portfolio</span>
				</a>
				<div class="footer-contact pt-3">
					<p class="mt-3"><strong>Phone:</strong> <span>+82 phone number secret</span></p>
					<p><strong>Email:</strong> <span>h_leopold@naver.com</span></p>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 footer-links">
				<h4>Useful Links</h4>
				<ul>
					<li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
					<li><i class="bi bi-chevron-right"></i> <a href="#about">About me</a></li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-3 footer-links">
				<h4>Useful Links</h4>
				<ul>
					<li><i class="bi bi-chevron-right"></i> <a href="#skill">Skill</a></li>
					<li><i class="bi bi-chevron-right"></i> <a href="#portfolio">Portfolio</a></li>
					<li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact Me</a></li>
				</ul>
			</div>

			<div class="col-lg-4 col-md-12">
				<h4>Follow Me</h4>
				<p>도전과 성장을 추구하는 백엔드 개발자입니다.</p>
				<div class="social-links d-flex" >
					<a href="https://github.com/backendVirtuoso" target="_blank"><i class="bi bi-github"></i></a>
					<a href="https://www.instagram.com/jh0813_/" target="_blank"><i class="bi bi-instagram"></i></a>
					<a href="mailto:h_leopold@naver.com" target="_blank"><i class="bi bi-envelope-fill icon" ></i></a>
					<a href="https://backendvirtuoso.github.io/" target="_blank"><i class="bi bi-journal"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container copyright text-center mt-4">
		<p>© <span>Copyright</span> <strong class="px-1 sitename">FlexStart</strong> <span>All Rights Reserved</span>
		</p>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you've purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</div>
</footer>
</body>
</html>