<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{index}">

<head>
    <title>Contact Me</title>
    <style>
    	#main { padding-top : 60px; }
    	.info-item p { white-space: pre-wrap; }
    	.php-email-form .error-message {
		  display: block;
		  background: #df1529;
		  color: #ffffff;
		  text-align: left;
		  padding: 15px;
		  margin-bottom: 24px;
		  font-weight: 600;
		}
		
		.php-email-form .sent-message {
		  display: block;
		  color: #ffffff;
		  background: #059652;
		  text-align: center;
		  padding: 15px;
		  margin-bottom: 24px;
		  font-weight: 600;
		}
    </style>
</head>

<body class="index-page">
    <div layout:fragment="content">
        <div id="main" class="main">
            <!-- Contact Section -->
            <div id="contact" class="contact section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Contact</h2>
                    <p>Contact Me</p>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4">

                        <div class="col-lg-6">

                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="200">
                                        <i class="bi bi-geo-alt"></i>
                                        <h3>Address</h3>
                                        <p th:if="${contact != null}" th:text="${contact.addr}"></p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="300">
                                        <i class="bi bi-telephone"></i>
                                        <h3>Call Me</h3>
                                        <p th:if="${contact != null}" th:text="${contact.tel}"></p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="400">
                                        <i class="bi bi-envelope"></i>
                                        <h3>Email Me</h3>
                                        <p th:if="${contact != null}" th:text="${contact.email}"></p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="500">
                                        <i class="bi bi-clock"></i>
                                        <h3>Open Hours</h3>
                                        <p th:if="${contact != null}" th:text="${contact.openHours}"></p>
                                    </div>
                                </div><!-- End Info Item -->

                            </div>

                        </div>

                        <div class="col-lg-6">
                            <form th:action="@{/contact/send}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                                <div class="row gy-4">
                                    <div class="col-md-6">
                                        <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                    </div>

                                    <div class="col-md-6 ">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                    </div>

                                    <div class="col-12">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                    </div>

                                    <div class="col-12">
                                        <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                                    </div>

                                    <div class="col-12 text-center">
                                    	<!-- 메시지 표시 부분 -->
                                        <div class="loading">Loading</div>
                                        <div class="error-message" th:if="${messageType == 'error'}" th:text="${message}">Failed to send your message. Please try again.</div>
									    <div class="sent-message" th:if="${messageType == 'success'}" th:text="${message}">Your message has been sent. Thank you!</div>
									    <button type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- End Contact Form -->
                    </div>
                </div>
            </div><!-- /Contact Section -->
        </div>
    </div>
	<script>
	    document.addEventListener("DOMContentLoaded", function() {
		    var sentMessage = document.querySelector(".sent-message");
		    var errorMessage = document.querySelector(".error-message");
		
		    // 성공 메시지와 실패 메시지 중 하나가 존재할 경우 처리
		    if (sentMessage || errorMessage) {
		        var messageToShow = sentMessage || errorMessage; // 존재하는 메시지를 선택
		        messageToShow.style.display = "block"; // 메시지를 보이게 함
		
		        setTimeout(function() {
		            messageToShow.style.display = "none"; // 5초 후에 숨김
		        }, 5000);
		    }
		});
	</script>

</body>

</html>