<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{index}">

<head>
    <title>기술 스택 정보 등록 페이지</title>
    <style>
        #main { padding-top: 60px; }
        #content { margin-top: 10px; }
    </style>
</head>

<body class="index-page">
    <div layout:fragment="content">
        <div id="main" class="main">
            <div id="services" class="services section">
                <div class="container section-title" data-aos="fade-up">
                    <h2>Tech Stack</h2>
                    <p>사용해보고 경험해 본 기술 스택<br></p>
                </div>
                <div class="container">
                    <form action="/tech-stack" method="post" enctype="multipart/form-data">
                        <div class="row gy-4">
                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                                <div class="service-item item-cyan position-relative">
                                    <label class="form-label"><h3>데이터베이스</h3></label>
                                    <textarea name="database" class="form-control" rows="4" cols="35" maxlength="500" placeholder="500자 이내로 작성해주세요." required></textarea>
                                </div>
                            </div><!-- End Service Item -->
                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="service-item item-orange position-relative">
                                    <label class="form-label"><h3>개발 툴</h3></label>
                                    <textarea name="devTool" class="form-control" rows="4" cols="35" maxlength="500" placeholder="500자 이내로 작성해주세요." required></textarea>
                                </div>
                            </div><!-- End Service Item -->

                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <div class="service-item item-teal position-relative">
                                    <label class="form-label"><h3>프론트엔드</h3></label>
                                    <textarea name="frontend" class="form-control" rows="4" cols="35" maxlength="500" placeholder="500자 이내로 작성해주세요." required></textarea>
                                </div>
                            </div><!-- End Service Item -->
                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                                <div class="service-item item-red position-relative">
                                    <label class="form-label"><h3>자격증</h3></label>
                                    <textarea name="certificate" class="form-control" rows="4" cols="35" maxlength="500" placeholder="500자 이내로 작성해주세요." required></textarea>
                                </div>
                            </div><!-- End Service Item -->
                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                                <div class="service-item item-indigo position-relative">
                                    <label class="form-label"><h3>버전 관리</h3></label>
                                    <textarea name="versionManagement" class="form-control" rows="4" cols="35" maxlength="500" placeholder="500자 이내로 작성해주세요." required></textarea>
                                </div>
                            </div><!-- End Service Item -->
                            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                                <div class="service-item item-pink position-relative">
                                    <label class="form-label"><h3>백엔드</h3></label>
                                    <textarea name="backend" class="form-control" rows="4" cols="35" maxlength="500" placeholder="500자 이내로 작성해주세요." required></textarea>
                                </div>
                            </div><!-- End Service Item -->
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">저장</button> <!-- 저장 버튼 추가 -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
