<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{index}">

<head>
    <title>About Me 등록 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        #main { padding-top: 60px; }
        label { font-weight: bold; }
        
        #imagePreview {
            width: 650px;
            height: 300px;
            border: 2px solid black;
            border-radius: 20px;
            overflow: hidden;
            margin: 20px 10px 10px 0px;
        }

        #imagePreview img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

    <script>
        function loadFile(input) {
            // 선택된 파일이 있을 경우
            if (input.files && input.files[0]) {
                let file = input.files[0]; // 선택된 파일 가져오기
                let newImage = document.createElement("img"); // 새 이미지 추가

                // 이미지 source 가져오기
                newImage.src = URL.createObjectURL(file);

                // 기존 이미지 제거
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.innerHTML = ''; // 기존 이미지를 비움

                // 이미지를 imagePreview div에 추가
                imagePreview.appendChild(newImage);
            }
        }
    </script>
    
</head>

<body class="index-page">
    <div layout:fragment="content">
        <div id="main" class="main">
            <!-- About Section -->
            <div id="about" class="about section">
                <div class="container section-title" data-aos="fade-up">
                    <h2>About Me</h2>
                </div><!-- End Section Title -->
                
                <div class="container" data-aos="fade-up">
                    <form action="/about" method="post" enctype="multipart/form-data">
                        <div class="row gx-0">
                            <div class="col-lg-6 d-flex flex-column justify-content-center content" data-aos="fade-up" data-aos-delay="200">
                                <label class="form-label">제목</label>
                                <input type="text" name="title" class="form-control" placeholder="제목을 작성해주세요." required><br>
                                <label class="form-label">내용</label>
                                <textarea id="content" name="content" class="form-control" rows="7" maxlength="500" placeholder="500자 이내로 작성해주세요." required></textarea>
                            </div>

                            <div class="col-lg-6 align-items-center" data-aos="zoom-out" data-aos-delay="200">
                                <input type="file" class="form-control" id="imagePath" name="imageFile" onchange="loadFile(this)">
                                <div id="imagePreview" class="thumbnail"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">저장</button> <!-- 저장 버튼 추가 -->
                    </form>
                </div>
            </div>
            <!-- /About Section -->
        </div>
    </div>
</body>

</html>
