<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{index}">

<head>
    <title>개인 포트폴리오 사이트</title>
    <style>
    	#text_box{
		  font-size: 3.5vw;
		  text-align: center;
		  font-family: Noto Sans KR, sans-serif;
		  font-weight: bold;
		}
		
		#blink {
		  animation: blink 0.5s infinite;
		  font-size: 3.5vw;
		}
		
		@keyframes blink {
		  to {
		    opacity: 0;
		  }
		}
		
		p { white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */ }
    </style>
    <script>
    	document.addEventListener("DOMContentLoaded", function() {
            const content = "늘 끊임없이 배우고자 하는 \n백엔드 개발자 황준하 포트폴리오입니다.";
            const text = document.querySelector("#text");
            let i = 0;
            
            function typing() {
                if (i < content.length) {
                    let txt = content[i++];
                    text.innerHTML += txt === "\n" ? "<br/>" : txt;
                    setTimeout(typing, 200);
                }
            }
            
            typing();
        });
    </script>

    <!-- =======================================================
	* Template Name: FlexStart
	* Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
	* Updated: Jun 29 2024 with Bootstrap v5.3.3
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
</head>

<body class="index-page">
    <div layout:fragment="content">
        <div class="main">
            <!-- Hero Section -->
            <div id="hero" class="hero section">
                <div class="container" id="typing">
                    <div class="row gy-4">
	                    <div id="text_box">
							<span id="text"></span><span id="blink">|</span>
						</div>
                    </div>
                </div>
            </div><!-- /Hero Section -->

            <!-- About Section -->
            <div id="about" class="about section">
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">
                        <div class="col-lg-6 d-flex flex-column justify-content-center content" data-aos="fade-up" data-aos-delay="200">
                            <h3>About Me</h3>
                            <h2 th:text="${about.title}"></h2>
                            <p th:text="${about.content}"></p>
                        </div>

                        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                            <img th:src="@{/about/{imgUrl}(imgUrl=${about.imgUrl})}" class="img-fluid" alt="" style="width:500px;">
                        </div>
                    </div>
                </div>
            </div><!-- /About Section -->

            <!-- Services Section -->
            <div id="services" class="services section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Tech Stack</h2>
                    <p>사용해보고 경험해 본 기술 스택<br></p>
                </div><!-- End Section Title -->

                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="service-item item-cyan position-relative">
                                <h3>데이터베이스</h3>
                                <p th:utext="${techStack.database}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="service-item item-orange position-relative">
                                <h3>개발 툴</h3>
                                <p th:utext="${techStack.devTool}"></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="service-item item-teal position-relative">
                                <h3>프론트엔드</h3>
                                <p th:utext="${techStack.frontend}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="service-item item-red position-relative">
                                <h3>자격증</h3>
                                <p th:utext="${techStack.certificate}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                            <div class="service-item item-indigo position-relative">
                                <h3>버전 관리</h3>
                                <p th:utext="${techStack.versionManagement}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                            <div class="service-item item-pink position-relative">
                                <h3>백엔드</h3>
                                <p th:utext="${techStack.backend}"><br></p>
                            </div>
                        </div><!-- End Service Item -->
                    </div>
                </div>
            </div> <!-- /Services Section -->

            <!-- Clients Section -->
            <div id="clients" class="clients section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Clients</h2>
                    <p>We work with best clients<br></p>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="swiper init-swiper">
                        <script type="application/json" class="swiper-config">
                            {
                                "loop": true,
                                "speed": 400,
                                "autoplay": {
                                    "delay": 5000
                                },
                                "slidesPerView": "auto",
                                "pagination": {
                                    "el": ".swiper-pagination",
                                    "type": "bullets",
                                    "clickable": true
                                },
                                "breakpoints": {
                                    "320": {
                                        "slidesPerView": 2,
                                        "spaceBetween": 40
                                    },
                                    "480": {
                                        "slidesPerView": 3,
                                        "spaceBetween": 60
                                    },
                                    "640": {
                                        "slidesPerView": 4,
                                        "spaceBetween": 80
                                    },
                                    "992": {
                                        "slidesPerView": 6,
                                        "spaceBetween": 120
                                    }
                                }
                            }
                        </script>
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="/static/bootstrap/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div><!-- /Clients Section -->

            <!-- Portfolio Section -->
            <div id="portfolio" class="portfolio section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Portfolio</h2>
                    <p>Check our latest work</p>
                </div><!-- End Section Title -->

                <div class="container">
                    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-team">Team</li>
                            <li data-filter=".filter-individual">Individual</li>
                        </ul><!-- End Portfolio Filters -->

                        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

							<!-- Portfolio Items -->
                            <div th:each="item : ${portfolio}" th:classappend="${item.type == 'individual'} ? 'filter-individual' : 'filter-team'" class="col-lg-4 col-md-6 portfolio-item isotope-item">
                                <div class="portfolio-content h-100">
                                    <img th:src="@{/portfolio/{imgUrl}(imgUrl=${item.firstImagePath})}" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4 th:text="${item.type}"></h4>
                                        <a th:href="@{/portfolio/{imgUrl}(imgUrl=${item.firstImagePath})}" title="Preview" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                        <a th:href="@{/portfolio/details/{id}(id=${item.id})}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                            </div><!-- End Portfolio Item -->
                            
                            <!-- 이 div 태그는 로그인한 사용자만 보일 수 있도록 변경할 것 -->
                            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-individual">
                                <div class="portfolio-content h-100">
                                    <img src="/static/bootstrap/assets/img/portfolio/registerProject.jpg" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>Register</h4>
                                        <a href="/static/bootstrap/assets/img/portfolio/registerProject.jpg" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                        <a th:href="@{/portfolio/register}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Portfolio Container -->
                    </div>
                </div>
            </div><!-- /Portfolio Section -->

            <!-- Contact Section -->
            <div id="contact" class="contact section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Contact</h2>
                    <p>Contact Me</p>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade-up" data-aos-delay="100">
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="200">
                                        <i class="bi bi-geo-alt"></i>
                                        <h3>Address</h3>
                                        <p th:text="${contact.addr}"></p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="300">
                                        <i class="bi bi-telephone"></i>
                                        <h3>Call Me</h3>
                                        <p th:text="${contact.tel}"></p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="400">
                                        <i class="bi bi-envelope"></i>
                                        <h3>Email Me</h3>
                                        <p th:text="${contact.email}"></p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="500">
                                        <i class="bi bi-clock"></i>
                                        <h3>Open Hours</h3>
                                        <p th:text="${contact.openHours}"></p>
                                    </div>
                                </div><!-- End Info Item -->
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <form action="/contact/send" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                                <div class="row gy-4">

                                    <div class="col-md-6">
                                        <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                    </div>

                                    <div class="col-md-6 ">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                    </div>

                                    <div class="col-12">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                    </div>

                                    <div class="col-12">
                                        <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                                    </div>

                                    <div class="col-12 text-center">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>

                                        <button type="submit">Send Message</button>
                                    </div>

                                </div>
                            </form>
                        </div><!-- End Contact Form -->
                    </div>
                </div>
            </div><!-- /Contact Section -->
        </div>
    </div>
    <script>
	    document.addEventListener("DOMContentLoaded", function() {
		    var sentMessage = document.querySelector(".sent-message");
		    var errorMessage = document.querySelector(".error-message");
		
		    // 성공 메시지와 실패 메시지 중 하나가 존재할 경우 처리
		    if (sentMessage || errorMessage) {
		        var messageToShow = sentMessage || errorMessage; // 존재하는 메시지를 선택
		        messageToShow.style.display = "block"; // 메시지를 보이게 함
		
		        setTimeout(function() {
		            messageToShow.style.display = "none"; // 5초 후에 숨김
		        }, 5000);
		    }
		});

	</script>
</body>
</html>	