<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{index}">

<head>
    <title>포트폴리오 상세 등록 페이지</title>
    <style>
        #main { padding-top: 60px; }
        #content { width: 416px; }
        #heading { padding-bottom: 40px; }
        
        #imagePreview {
            width: 860px;
            height: 480px;
            border: 1px solid black;
            border-radius: 20px;
            overflow: hidden;
            margin: 20px 10px 10px 0px;
        }

        #imagePreview img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
    <script>
        function loadFile(input) {
            // 선택된 파일이 있을 경우
            if (input.files && input.files[0]) {
                let file = input.files[0]; // 선택된 파일 가져오기
                let newImage = document.createElement("img"); // 새 이미지 추가

                // 이미지 source 가져오기
                newImage.src = URL.createObjectURL(file);

                // 기존 이미지를 비움
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.innerHTML = ''; // 기존 이미지를 비움

                // 이미지를 imagePreview div에 추가
                imagePreview.appendChild(newImage);
            }
        }
    </script>
</head>

<body class="portfolio-details-page">
    <div layout:fragment="content">
        <div id="main" class="main">
            <div class="page-title">
                <div id="heading" class="heading">
                    <div class="container">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-lg-8">
                                <h1>Portfolio Details</h1>
                                <p class="mb-0">프로젝트 설명 등록 페이지입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Details Section -->
            <form id="portfolioForm" method="post" enctype="multipart/form-data" action="/portfolio">
                <div id="portfolio-details" class="portfolio-details section">
                    <div class="container" data-aos="fade-up" data-aos-delay="100">
                        <div class="row gy-4">
                            <div class="col-lg-8">
                                <input type="file" class="form-control" id="imagePath" name="imageFile" multiple onchange="loadFile(this)">
                                <div id="imagePreview" class="thumbnail"></div> <!-- 미리보기 영역 -->
                            </div>

                            <div class="col-lg-4">
                                <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                                    <h3>Project information</h3>
                                    <ul>
                                        <li>
                                            <label class="form-label"><strong>GitHub</strong></label>
                                            <input type="text" class="form-control" id="inputLink" name="github" placeholder="깃허브 링크를 첨부해주세요">
                                        </li>
                                        <li>
                                            <label class="form-label"><strong>Frontend</strong></label>
                                            <input type="text" class="form-control" id="frontend" name="frontend" placeholder="프론트엔드 기술스택 입력해주세요">
                                        </li>
                                        <li>
                                            <label class="form-label"><strong>Backend</strong></label>
                                            <input type="text" class="form-control" id="backend" name="backend" placeholder="백엔드 기술스택 입력해주세요">
                                        </li>
                                        <li>
                                            <label class="form-label"><strong>Database</strong></label>
                                            <input type="text" class="form-control" id="database" name="database" placeholder="데이터베이스 기술스택 입력해주세요">
                                        </li>
                                        <li>
                                            <label class="form-label"><strong>Type</strong></label>
                                            <input type="text" class="form-control" id="type" name="type" placeholder="Team or Individual 입력해주세요">
                                        </li>
                                    </ul>
                                </div>
                                <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                                    <h2>프로젝트 주요기능 설명</h2>
                                    <textarea id="content" name="description" class="form-control" rows="7" placeholder="500자 이내로 작성해주세요."></textarea>
                                    <button type="submit" class="btn btn-primary mt-3">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Portfolio Details Section -->
            </form>
        </div>
    </div>
</body>
</html>