<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{index}">
<head>
    <title>등록 페이지</title>
    <style>
    	#main { padding-top : 60px; }
    	#width { width: 1320px; }
    </style>
</head>
<body class="index-page">
    <div layout:fragment="content">
        <div id="main" class="main">
        
            <!-- Services Section -->
            <div id="services" class="services section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Register, Update</h2>
                    <p>정보 등록 수정 페이지<br></p>
                </div>
                <!-- End Section Title -->

                <div class="container">
                    <div class="row gy-4">
                        <div id="width" class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="service-item item-cyan position-relative">
                                <h3>About Me</h3>
                            	<a th:href="@{/about/register}" class="read-more stretched-link"><span>등록 및 수정 페이지</span> <i class="bi bi-arrow-right"></i></a>
            				</div>
                        </div><!-- End Service Item -->

                        <div id="width" class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="service-item item-orange position-relative">
                                <h3>Tech Stack</h3>
                            	<a th:href="@{/tech-stack/register}" class="read-more stretched-link"><span>등록 및 수정 페이지</span> <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div><!-- End Service Item -->

                        <div id="width" class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="service-item item-teal position-relative">
                                <h3>Portfolio</h3>
                            	<a th:href="@{/portfolio/register}" class="read-more stretched-link"><span>등록 및 수정 페이지</span> <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div><!-- End Service Item -->

                        <div id="width" class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="service-item item-indigo position-relative">
                                <h3>Contact Me</h3>
                            	<a th:href="@{/contact/register}" class="read-more stretched-link"><span>등록 및 수정 페이지</span> <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div><!-- End Service Item -->
                    </div>
                </div>
            </div>
            <!-- /Services Section -->
        </div>
    </div>
</body>
</html>