<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{index}">

<head>
    <title>기술 스택 정보 페이지</title>
    <style>
        #main { padding-top : 60px; }
        .service-item p { white-space: pre-wrap; /* 줄바꿈과 공백을 유지 */ }
    </style>
</head>

<body class="index-page">
    <div layout:fragment="content">
        <div id="main" class="main">
        
            <!-- Services Section -->
            <div id="services" class="services section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Tech Stack</h2>
                    <p>사용해보고 경험해 본 기술 스택<br></p>
                </div>
                <!-- End Section Title -->

                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="service-item item-cyan position-relative">
                                <h3>데이터베이스</h3>
                                <p th:utext="${techStack.database}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="service-item item-orange position-relative">
                                <h3>개발 툴</h3>
                                <p th:utext="${techStack.devTool}"></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="service-item item-teal position-relative">
                                <h3>프론트엔드</h3>
                                <p th:utext="${techStack.frontend}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="service-item item-red position-relative">
                                <h3>자격증</h3>
                                <p th:utext="${techStack.certificate}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                            <div class="service-item item-indigo position-relative">
                                <h3>버전 관리</h3>
                                <p th:utext="${techStack.versionManagement}"><br></p>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                            <div class="service-item item-pink position-relative">
                                <h3>백엔드</h3>
                                <p th:utext="${techStack.backend}"><br></p>
                            </div>
                        </div><!-- End Service Item -->
                    </div>
                </div>
            </div>
            <!-- /Services Section -->
        </div>
    </div>
</body>
</html>