<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{index}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>기술 스택 정보</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="/static/bootstrap/assets/img/favicon.png" rel="icon">
    <link href="/static/bootstrap/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="/static/bootstrap/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/bootstrap/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/bootstrap/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/bootstrap/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="/static/bootstrap/assets/css/main.css" rel="stylesheet">
    <style>
    	#main { padding-top : 60px; }
    	#content { margin-top : 10px; }
    </style>
</head>

<body class="index-page">
    <div layout:fragment="content">
        <div id="main" class="main">
        
            <!-- Services Section -->
            <div id="services" class="services section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Tech Stack</h2>
                    <p>사용해보고 경험해 본 기술 스택<br></p>
                </div>
                <!-- End Section Title -->

                <div class="container">

                    <div class="row gy-4">

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="service-item item-cyan position-relative">
                                <label class="form-label"><h3>데이터베이스</h3></label>
                                <textarea id="content" class="form-control" rows="4" cols="35" maxlength="500" placeholder="작성해주세요."></textarea>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="service-item item-orange position-relative">
                                <label class="form-label"><h3>개발 툴</h3></label>
                                <textarea id="content" class="form-control" rows="4" cols="35" maxlength="500" placeholder="작성해주세요."></textarea>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="service-item item-teal position-relative">
                                <label class="form-label"><h3>프론트엔드</h3></label>
                                <textarea id="content" class="form-control" rows="4" cols="35" maxlength="500" placeholder="작성해주세요."></textarea>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="service-item item-red position-relative">
                                <label class="form-label"><h3>자격증</h3></label>
                                <textarea id="content" class="form-control" rows="4" cols="35" maxlength="500" placeholder="작성해주세요."></textarea>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                            <div class="service-item item-indigo position-relative">
                                <label class="form-label"><h3>버전 관리</h3></label>
                                <textarea id="content" class="form-control" rows="4" cols="35" maxlength="500" placeholder="작성해주세요."></textarea>
                            </div>
                        </div><!-- End Service Item -->

                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                            <div class="service-item item-pink position-relative">
                                <label class="form-label"><h3>백엔드</h3></label>
                                <textarea id="content" class="form-control" rows="4" cols="35" maxlength="500" placeholder="작성해주세요."></textarea>
                            </div>
                        </div><!-- End Service Item -->

                    </div>

                </div>

            </div>
            <!-- /Services Section -->
        </div>
    </div>
</body>

</html>