<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{presentation/fragments/fragment-head :: head}"></div>

<body class="index-page">
	<div th:replace="~{presentation/fragments/fragment-navigation :: navigation}"></div>

	<main class="main">
		<div th:replace="~{presentation/fragments/fragment-home :: home}"></div>
		<div th:replace="~{presentation/fragments/fragment-about :: about}"></div>
		<div th:replace="~{presentation/fragments/fragment-skill :: skill}"></div>
		<div th:replace="~{presentation/fragments/fragment-portfolio :: portfolio}"></div>
		<div th:replace="~{presentation/fragments/fragment-contact :: contact}"></div>
	</main>

	<div th:replace="~{presentation/fragments/fragment-footer :: footer}"></div>

	<!-- Scroll Top -->
	<a th:href="@{/}" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/static/assets/vendor/aos/aos.js"></script>
	<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

	<!-- Main JS File -->
	<script src="/static/assets/js/main.js"></script>
	<script src="/static/assets/js/smooth-scroll.js"></script>
</body>
</html>