<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="foot">
		<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

		<!-- Vendor JS Files -->
		<script src="/static/admin/assets/vendor/apexcharts/apexcharts.min.js" th:src="@{/static/admin/assets/vendor/apexcharts/apexcharts.min.js}"></script>
		<script src="/static/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/static/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script src="/static/admin/assets/vendor/chart.js/chart.umd.js" th:src="@{/static/admin/assets/vendor/chart.js/chart.umd.js}"></script>
		<script src="/static/admin/assets/vendor/echarts/echarts.min.js" th:src="@{/static/admin/assets/vendor/echarts/echarts.min.js}"></script>
		<script src="/static/admin/assets/vendor/quill/quill.js" th:src="@{/static/admin/assets/vendor/quill/quill.js}"></script>
		<script src="/static/admin/assets/vendor/simple-datatables/simple-datatables.js" th:src="@{/static/admin/assets/vendor/simple-datatables/simple-datatables.js}"></script>
		<script src="/static/admin/assets/vendor/tinymce/tinymce.min.js" th:src="@{/static/admin/assets/vendor/tinymce/tinymce.min.js}"></script>

		<!-- Template Main JS File -->
		<script src="/static/admin/assets/js/main.js" th:src="@{/static/admin/assets/js/main.js}"></script>
	</th:block>
</body>
</html>